.is-content {
  margin-top: 3.25rem;
}
@media (min-width: 1280px) {
  .is-content {
    margin-left: 20%;
  }
}
@media (min-width: 1088px) and (max-width: 1279px) {
  .is-content {
    margin-left: 25%;
  }
}
@media (min-width: 768px) and (max-width: 1087px) {
  .is-content {
    margin-left: 30%;
  }
}
@media (max-width: 767px) {
  .is-content {
    margin-left: 3.75rem;
  }
}
.is-content .is-header {
  background-color: #eaeae2;
  padding: 1rem;
  line-height: 1.25rem;
  border-bottom: 1px solid #e8e8de;
}